%h1 Lesson Comments
%h3= @lesson.title
%h4= @lesson_type

%hr

- @comments.each do |comment|
  = render partial: 'comment', locals: { comment: comment }

/ - if @lesson.is_public
/   = simple_form_for [@lesson, @comment] do |f|
/     f.input :message
