ul.delivery-dates {
  list-style: none;

  li {
    span.date {
      display: inline-block;
      width: 180px;
    }
  }
}

#lesson-form-submit {
  margin-top: 15px;
}

.lesson {
  ul, li {
    margin-left: 0.5em;
  }
}