//$primary-theme-color: #16a085;

// -----||---------------------------------
//      || Foundation overrides
// =====||=================================

/*$header-font-color: $primary-theme-color;

$topbar-bg-color: $primary-theme-color;
$topbar-dropdown-bg: darken($primary-theme-color, 20%);
$topbar-link-hover-lightness: -10%;
$topbar-link-bg-hover: darken($topbar-bg-color, 2%);
$topbar-link-bg-active: darken($topbar-bg-color, 2%);*/