.edit-course {
  .lesson_course_id {
    display: inline-block;
  }
}

.standards-results {
  height: 500px;
  overflow: auto;
  border: thin black solid;
  margin-bottom: 50px;

  .standard-row:nth-child(2n) {
    background-color: #E9FFF2;
  }

  .standard-row {
    padding: 5px;
    border-bottom: #aaa thin solid;
  }

  &.searching {
    .standard-row {
      display: none;
    }
  }
}


//// Tables in Lessons#Index

table.lessons {
  th, td{
    font-size: 1.1rem;
  }
}