.edit-course {
  .lesson_course_id {
    display: inline-block;
  }
}

.standards-results {
  height: 300px;
  overflow: auto;
  border: thin black solid;
  margin-bottom: 50px;

  .standard-row:nth-child(2n) {
    background-color: #E9FFF2;
  }

  .standard-row {
    padding: 5px;
    border-bottom: #aaa thin solid;
  }

  &.searching {
    .standard-row {
      display: none;
    }
  }
}

.comments-section {
  background-color: #efefef;
  padding: 5px;
}


//// Lessson#show
.button.tiny.manage-standards {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  font-size: 20px;

}


//// Lessons#Index

table.lessons {
  th, td{
    font-size: 1.1rem;
  }
}